// hamburger menu color
$color-primary-black: #000000;
$color-secondary-black: #333333;

// main content color
$color-primary-grey: #666666;
$color-grey-light: #999999;
$color-primary-red: #D7312F;

// footer content color
$color-grey-dark: #2d2d2d;

// font
$default-font-size: 1.6rem;
$default-font-size-secondary: 1.4rem;
$default-font-family: 'Lato', sans-serif;
$text-uppercase: uppercase;

// anchor hover color
$anchor-hover-color: #D7312F;
