/*
#######################################################

Header Section

#######################################################
*/

// header navigation section
.nav-heading {
    display: grid;
    grid-template-columns: 4.5rem 1fr 4.5rem;
    justify-items: center;
    margin: 2rem 1.7rem;
    position: relative;

    // display none hamburger menu 
    &__mobile-navlist--displaynone {
        display: none;
        transform: translateX(20rem);
    }

    &__mobile-navlist--display {
        position: absolute;
        top: 5.1rem;
        left: -2rem;
        background-color: #ffffff;
        z-index: 9;
    }

    &__nav {
        width: 32rem;
    }

    &__list {
        list-style: none;
    }

    &__item {
        padding: 3rem 2rem 3rem 3rem;
        border-bottom: 1px solid $color-secondary-black;
        border-right: 1px solid $color-secondary-black;
        font-weight: bold;

        .subunordered {
            margin-top: 1rem;
            list-style: none;
        }

        .subunordered--display{
            display: none;
        }

        .subunordered__img:hover {
            -webkit-transition-transform: scale(1.1);
            -moz-transition-transform: scale(1.1);
            -ms-transition-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition:  all .5s;
            -moz-transition:  all .5s;
            -ms-transition:  all .5s;
            transition:  all .5s;
        }
    }

    &__item:nth-child(2) {
        position: relative;
    }

    &__link {
        font-family: $default-font-family;
        text-decoration: none;
        color: $color-secondary-black;
        font-size: $default-font-size-secondary;
    }

    &__link:hover {
        color:$anchor-hover-color;
        transition: all .5s;
    }

    /* rotate arrow */
    .arrow-rotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    &__arrow {
        position: absolute;
        right: 3rem;
        top: 2rem;
        font-size: 3rem;
    }

    &__arrow:hover {
        cursor: pointer;
        color:$anchor-hover-color;
    }
    /* end rotate arrow */

    /* rotate ham menu */
    .rotated-ham {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    /* end rotate ham menu */

    

    &__item-container:last-child {
        display: flex;
        margin-right: 2rem;
    }

    &__item-container:nth-child(2) {
        -webkit-transition: transform .4s;
        -moz-transition: transform .4s;
        -ms-transition: transform .4s;
        transition: transform .4s;
        width: 4rem;
        height: 3rem;
    }

    &__item-container:nth-child(2):hover {
        cursor: pointer;
    }


    &__item-container:nth-child(4) a:hover {
        cursor: pointer;
        color: $anchor-hover-color;
    }

    &__bar {
        display: inline-block;
        width: 4rem;
        height: .5rem;
        background-color: $color-primary-black;
    }

    &__img:hover {
        opacity: .7;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        transition: all .2s;
    }

    &__img {
        width: 17.4rem;
        height: auto;
    }

    &__socialicon{
        font-size: 2rem;
        color: $color-primary-black;
    }

    &__socialicon:last-child {
        margin-left: 2rem;
    }

    &__socialicon:hover {
        color: red;
    }
}

// banner image section
.banner-image {
    background: url(../images/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fd634e;
    width: 100%;
    height: 60rem;
    background-attachment: scroll;
    position: relative;
    
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: $default-font-family;
        font-weight: bold;
        color: #ffffff;
        max-width: 610px;
        width: 100%;
        padding: 0 2rem;

        & h2 {
            font-size: $default-font-size-secondary;
            letter-spacing: 1px;
            text-transform: $text-uppercase;
        }

        & h1 {
            font-size: 5rem;
            letter-spacing: .5rem;
            text-transform: $text-uppercase;

            @include respond(small){
                font-size: 4rem;
            }
        }
    }
}