*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  display: block; }

p {
  line-height: 1.5; }

/*
#######################################################

Header Section

#######################################################
*/
.nav-heading {
  display: grid;
  grid-template-columns: 4.5rem 1fr 4.5rem;
  justify-items: center;
  margin: 2rem 1.7rem;
  position: relative;
  /* rotate arrow */
  /* end rotate arrow */
  /* rotate ham menu */
  /* end rotate ham menu */ }
  .nav-heading__mobile-navlist--displaynone {
    display: none;
    transform: translateX(20rem); }
  .nav-heading__mobile-navlist--display {
    position: absolute;
    top: 6rem;
    left: -2rem;
    background-color: #ffffff;
    z-index: 9; }
  .nav-heading__nav {
    width: 32rem; }
  .nav-heading__list {
    list-style: none; }
  .nav-heading__item {
    padding: 3rem 2rem 3rem 3rem;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    font-weight: bold; }
    .nav-heading__item .subunordered {
      margin-top: 1rem;
      list-style: none; }
    .nav-heading__item .subunordered--display {
      display: none; }
    .nav-heading__item .subunordered__img:hover {
      -webkit-transition-transform: scale(1.1);
      -moz-transition-transform: scale(1.1);
      -ms-transition-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      transition: all .5s; }
  .nav-heading__item:nth-child(2) {
    position: relative; }
  .nav-heading__link {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #333333;
    font-size: 1.4rem; }
  .nav-heading__link:hover {
    color: #D7312F;
    transition: all .5s; }
  .nav-heading .arrow-rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .nav-heading__arrow {
    position: absolute;
    right: 3rem;
    top: 2rem;
    font-size: 3rem; }
  .nav-heading__arrow:hover {
    cursor: pointer;
    color: #D7312F; }
  .nav-heading .rotated-ham {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .nav-heading__item-container:last-child {
    display: flex;
    margin-right: 2rem; }
  .nav-heading__item-container:nth-child(2) {
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    transition: transform .4s; }
  .nav-heading__item-container:nth-child(2):hover {
    cursor: pointer; }
  .nav-heading__item-container:nth-child(4) a:hover {
    cursor: pointer;
    color: #D7312F; }
  .nav-heading__bar {
    display: inline-block;
    width: 4rem;
    height: .5rem;
    background-color: #000000; }
  .nav-heading__img {
    width: 17.4rem;
    height: auto; }
  .nav-heading__img:hover {
    transform: translateY(-0.5rem);
    transition: all .3s; }
  .nav-heading__socialicon {
    font-size: 2rem;
    color: #000000; }
  .nav-heading__socialicon:last-child {
    margin-left: 2rem; }
  .nav-heading__socialicon:hover {
    color: red; }

.banner-image {
  background: url(../../../assets/images/header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fd634e;
  width: 100%;
  height: 60rem;
  background-attachment: scroll;
  position: relative; }
  .banner-image__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #ffffff;
    max-width: 610px;
    width: 100%;
    padding: 0 2rem; }
    .banner-image__content h2 {
      font-size: 1.4rem;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .banner-image__content h1 {
      font-size: 5rem;
      letter-spacing: .5rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 31.625rem) {
        .banner-image__content h1 {
          font-size: 4rem; } }

/*
#######################################################

Main Navigation Section

#######################################################
*/
.nav-main__nav {
  margin: 8rem auto;
  display: block;
  width: 100%;
  max-width: 20.5rem; }

.nav-main__list {
  display: flex;
  justify-content: center;
  list-style: none; }

.nav-main__item {
  margin: 0 3rem; }

.nav-main__link {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #999999;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase; }

.nav-main__link:hover {
  color: #D7312F; }

/*
#######################################################

Main Product 1 Section

#######################################################
*/
.product-col-4 {
  max-width: 99.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }
  .product-col-4__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.8rem, 22.8rem));
    margin-bottom: 1.4rem;
    justify-items: center;
    grid-gap: 1.4rem;
    justify-content: center; }

.product-col-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47rem, 47rem));
  margin-bottom: 1.4rem;
  grid-gap: 1.4rem;
  justify-content: center;
  justify-items: center; }
  @media only screen and (max-width: 31.625rem) {
    .product-col-2 {
      grid-template-columns: 1fr; } }
  .product-col-2__item-second:first-child img {
    width: 100%; }
  .product-col-2__item-second:last-child {
    text-align: center;
    align-self: center;
    font-family: "Lato", sans-serif;
    color: #666666;
    font-size: 1.2rem; }
    @media only screen and (max-width: 62.063rem) {
      .product-col-2__item-second:last-child {
        margin: 2rem 0 6rem 0; } }
  .product-col-2__content {
    max-width: 37.8rem;
    width: 100%;
    display: block;
    margin: 0 auto; }
  .product-col-2__content:last-child {
    max-width: 37.8rem;
    width: 100%;
    display: block;
    margin: 0 auto; }

/*
#######################################################

Main Product 2 Section

#######################################################
*/
.product-col-3 {
  max-width: 99.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem; }
  .product-col-3__container:first-child {
    display: grid;
    grid-template-columns: 22.8rem 22.8rem 1fr;
    grid-gap: 1.4rem;
    margin-bottom: 1.4rem;
    grid-template-areas: 'item-1 item-2 item-3';
    justify-content: center;
    justify-items: center; }
    @media only screen and (max-width: 62.063rem) {
      .product-col-3__container:first-child {
        grid-template-columns: 22.8rem 22.8rem;
        grid-template-areas: 'item-1 item-2' 'item-3 item-3'; } }
    @media only screen and (max-width: 31.625rem) {
      .product-col-3__container:first-child {
        grid-template-columns: 1fr;
        grid-template-areas: 'item-1' 'item-2' 'item-3'; } }
  .product-col-3__item:first-child {
    grid-area: item-1; }
  .product-col-3__item:last-child img {
    width: 100%; }
  .product-col-3__item {
    grid-area: item-2; }
  .product-col-3__item:last-child {
    grid-area: item-3; }

.product-col-2__item-second--2:first-child {
  text-align: center;
  align-self: center;
  font-family: "Lato", sans-serif;
  color: #666666;
  font-size: 1.2rem; }
  @media only screen and (max-width: 62.063rem) {
    .product-col-2__item-second--2:first-child {
      margin: 2rem 0 6rem 0; } }

.product-col-2__content--2 {
  max-width: 37.8rem;
  width: 100%;
  display: block;
  margin: 0 auto; }

.product-col-2__item-second--2 img {
  width: 100%; }

.footer {
  margin-top: 13.5rem;
  padding-top: 6rem;
  border-top: 1px solid #e2e2e2; }
  .footer__container {
    max-width: 99.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr .7fr 1fr 1.2fr;
    grid-gap: 1.4rem; }
    @media only screen and (max-width: 47.5rem) {
      .footer__container {
        grid-template-columns: 1fr;
        justify-items: center; } }
  .footer__link {
    font-family: "Lato", sans-serif;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1.2rem; }
  .footer__link:hover {
    color: #D7312F; }
  @media only screen and (max-width: 47.5rem) {
    .footer__content {
      text-align: center; } }
  .footer__content:last-child {
    font-family: "Lato", sans-serif;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1.2rem; }
  .footer__content:last-child input {
    margin-top: 1rem;
    padding: .5rem; }
  .footer__content button {
    margin-top: 1rem;
    padding: .7rem 1.5rem;
    border: none;
    background-color: #2d2d2d;
    color: #fff;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    border-radius: .3rem; }
  .footer__content button:hover {
    background-color: #4e4f4f;
    cursor: pointer; }
  .footer__copyright {
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #f0f0f0; }
